<div class="sidebar mobile-hidden">
    <header class="logo">
        <h1>EleCtriK</h1>
    </header>

    <div class="sidebar-container">
        <div class="user-info">
            <div class="initials-container">
                <div class="initials">
                    A
                </div>
            </div>

            <div class="about-user">
                <div class="name">
                    Admin
                </div>
            </div>
        </div>

        <div class="menu">
            <ul>
                <li data-value="batteries" rv-class-selected="menu.batteries" rv-on-click="selected">
                    <i class="fa fa-fire"></i>
                    Batteries
                </li>
                <li data-value="batteries/catalog" rv-show="menu.batteries" rv-class-selected="menu.batteries" rv-on-click="goTo">
                    Catalog
                </li>
                <li data-value="batteries/definitions" rv-show="menu.batteries" rv-class-selected="menu.batteries" rv-on-click="goTo">
                    Definitions
                </li>
                <li data-value="accumulators" rv-class-selected="menu.accumulators" rv-on-click="selected">
                    <i class="fa fa-book-open"></i>
                    Accumulators
                </li>
                <li data-value="accumulators/catalog" rv-show="menu.accumulators" rv-class-selected="menu.accumulators" rv-on-click="goTo">
                    Catalog
                </li>
                <li data-value="accumulators/definitions" rv-show="menu.accumulators" rv-class-selected="menu.accumulators" rv-on-click="goTo">
                    Definitions
                </li>
                <li data-value="energy" rv-class-selected="menu.energy" rv-on-click="selected">
                    <i class="fa fa-bookmark"></i>
                    Energy 
                </li>
                <li data-value="energy/catalog" rv-show="menu.energy" rv-class-selected="menu.energy" rv-on-click="goTo">
                    Catalog
                </li>
                <li data-value="energy/definitions" rv-show="menu.energy" rv-class-selected="menu.energy" rv-on-click="goTo">
                    Definitions
                </li>
                <li data-value="customers" rv-class-selected="menu.customers" rv-on-click="selected">
                    <i class="fa fa-question"></i>
                    Customers
                </li>
                <li data-value="orders" rv-class-selected="menu.orders" rv-on-click="selected">
                    <i class="fa fa-question"></i>
                    Orders
                </li>
            </ul>
        </div>
    </div>
</div>