<div class="batteries-definitions-container page-container">

    <div class="page-left-container">
        <trex-sidebar selected="'batteries'"></trex-sidebar>
    </div>

    <div class="page-right-container">
        <trex-filter-bar></trex-filter-bar>

        <div class="page-content">
            <header><h2>Batteries Catalog</h2></header>

            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr rv-each-battery="batteries">
                    <td>{battery.name}</td>
                    <td>{battery.size}</td>
                    <td>{battery.price}</td>
                    <td>{battery.stock}</td>
                    <td>
                      <button rv-on-click="battery.changePrice" class="btn btn-info">Change price</button>
                      <button rv-on-click="battery.changeStock" class="btn btn-primary">Change stock</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>
