<div class="page-container">

    <div class="page-left-container">
        <trex-sidebar selected="'energy'"></trex-sidebar>
    </div>

    <div class="page-right-container">
        <trex-filter-bar></trex-filter-bar>

        <div class="page-content">
            <header><h2>Energy Providers Definitions</h2></header>

            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr rv-each-provider="providers">
                    <td>{provider.name}</td>
                    <td>{provider.coordinates.longitude}</td>
                    <td>{provider.coordinates.latitude}</td>
                    <td>
                      <button rv-on-click="provider.promote" class="btn btn-success">Promote</button>
                      <button rv-on-click="provider.delete" class="btn btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</div>
